.Rproj.user
.Rhistory
.RData
.Ruserdata

## Don't need results_precision folder because it can be updated from code
data/results_precision/*

## Don't need Excel file because it comes from GoogleSheets
.httr-oauth
data/Literature_Review.xlsx

## Don't need Zotero exports (which I did to free up storage)
data/Zotero_Completed_with_PDFs/*
docs/Zotero_GeneralResources/*

## Data that should not be made publicly available
data/raw_ageing/DONTSHARE*
data/raw_ageing/aaaOriginals/Lozano*
data/raw_ageing/aaaOriginals/ND*