.Rproj.user
.Rhistory
.RData
.Ruserdata

## Don't need these folders because they can be updated from code
data/results_precision/*
docs/Figs/*

## Don't need Excel file because it comes from GoogleSheets
.httr-oauth
data/Literature_Review.xlsx

## Don't need Zotero exports (which I did to free up storage)

## Data that should not be made publicly available
data/raw_ageing/DONTSHARE*
data/raw_ageing/aaaOriginals/Lozano*
data/raw_ageing/aaaOriginals/ND*